### METHODS TO CREATE A DATAFRAME

#

- Reading from a csv file

In [2]:
import pandas as pd

df = pd.read_csv("weather_data2.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

#

- Reading from a excel file
- Sheet 1 is the name of excel sheet with the contents

In [3]:
import pandas as pd

df = pd.read_excel("weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

###

- Creating dataframe using python dictionary
- COlumn info is provided
- Each key has column values

In [4]:
weather_data = {
    'day' : ['1/1/2017', '1/2/2017', '1/3/2017',],
    'temperature' : [32, 35, 28],
    'windspeed' : [6, 7, 2],
    'event' : ['Rain', 'Sunny', 'Snow']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

###

- Using tuple list
- We have to provide column names

In [5]:
import pandas as pd

weather_data = [
    
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 7, 2, 'Snow'),
    
]

df = pd.DataFrame(weather_data, columns=['Day', 'Temperature', 'Windspeed', 'Event'])
df

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017            7          2   Snow

###

- Using a list of dictionaries
- Each element in list is row value

In [6]:
import pandas as pd

weather_data = [
    
    {'day' : '1/1/2017', 'temperature' : 32, 'windspeed' : 6, 'event' : 'Rain'},
    {'day' : '1/2/2017', 'temperature' : 35, 'windspeed' : 7, 'event' : 'Sunny'},
    {'day' : '1/3/2017', 'temperature' : 28, 'windspeed' : 2, 'event' : 'Snowy'}
    
]

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2  Snowy

###

### OTHER WAYS OF CREATING A DATABASE

https://pandas.pydata.org/docs/user_guide/io.html